
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/netcoreapp3.1/staticwebassets/Belsis_Parselasyon_Backend_with_PGgis.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/EFCoreNpgsqlNetTopologySuite.cs
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.Views.pdb
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.Views.dll
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.TagHelpers.output.cache
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.TagHelpers.input.cache
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.RazorAssemblyInfo.cs
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.RazorAssemblyInfo.cache
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.pdb
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.dll
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.csproj.CopyComplete
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.csproj.BuildWithSkipAnalyzers
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.assets.cache
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Belsis_Parselasyon_Backend_with_PGgis.csproj.nuget.g.targets
obj/Belsis_Parselasyon_Backend_with_PGgis.csproj.nuget.g.props
obj/Belsis_Parselasyon_Backend_with_PGgis.csproj.nuget.dgspec.json
bin/Debug/netcoreapp3.1/zh-Hant/System.Spatial.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/System.Spatial.resources.dll
bin/Debug/netcoreapp3.1/System.Web.WebPages.Razor.dll
bin/Debug/netcoreapp3.1/System.Web.WebPages.dll
bin/Debug/netcoreapp3.1/System.Web.WebPages.Deployment.dll
bin/Debug/netcoreapp3.1/System.Web.Razor.dll
bin/Debug/netcoreapp3.1/System.Web.Mvc.dll
bin/Debug/netcoreapp3.1/System.Web.Helpers.dll
bin/Debug/netcoreapp3.1/System.Spatial.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
bin/Debug/netcoreapp3.1/System.CodeDom.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/ru/System.Spatial.resources.dll
bin/Debug/netcoreapp3.1/Npgsql.NetTopologySuite.dll
bin/Debug/netcoreapp3.1/Npgsql.LegacyPostgis.dll
bin/Debug/netcoreapp3.1/Npgsql.EntityFrameworkCore.PostgreSQL.NetTopologySuite.dll
bin/Debug/netcoreapp3.1/Npgsql.EntityFrameworkCore.PostgreSQL.dll
bin/Debug/netcoreapp3.1/Npgsql.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/NetTopologySuite.IO.PostGis.dll
bin/Debug/netcoreapp3.1/NetTopologySuite.dll
bin/Debug/netcoreapp3.1/Microsoft.Web.Infrastructure.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/ko/System.Spatial.resources.dll
bin/Debug/netcoreapp3.1/ja/System.Spatial.resources.dll
bin/Debug/netcoreapp3.1/it/System.Spatial.resources.dll
bin/Debug/netcoreapp3.1/Humanizer.dll
bin/Debug/netcoreapp3.1/fr/System.Spatial.resources.dll
bin/Debug/netcoreapp3.1/es/System.Spatial.resources.dll
bin/Debug/netcoreapp3.1/EntityFramework.SqlServer.dll
bin/Debug/netcoreapp3.1/EntityFramework.dll
bin/Debug/netcoreapp3.1/de/System.Spatial.resources.dll
bin/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.Views.pdb
bin/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.Views.dll
bin/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.runtimeconfig.json
bin/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.pdb
bin/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.exe
bin/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.dll
bin/Debug/netcoreapp3.1/Belsis_Parselasyon_Backend_with_PGgis.deps.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/appsettings.Development.json
